.lotus-calendar {
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
  animation: calendarMove 0.4s ease-in-out forwards;
}
.lotus-calendar-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.lotus-calendar-chose {
  position: relative;
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.37333333rem;
  color: #333;
}
.lotus-calendar-chose::before {
  content: '';
  width: 100%;
  height: 1px;
  background: #eee;
  position: absolute;
  bottom: 0;
}
.lotus-calendar-chose-item {
  flex: 1;
  padding-top: 0.26666667rem;
  padding-bottom: 0.26666667rem;
}
.lotus-calendar-chose-act {
  position: relative;
  color: #13a3ff;
}
.lotus-calendar-chose-act::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0.53333333rem;
  height: 0.05333333rem;
  background: #13a3ff;
}
.lotus-calendar-cur-date {
  padding-top: 0.21333333rem;
  padding-left: 0.53333333rem;
  padding-right: 0.53333333rem;
}
.lotus-calendar-cur-text {
  color: #13a3ff;
}
.lotus-calendar-center {
  font-size: 0.42666667rem;
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
}
.lotus-calendar-week {
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
}
.lotus-calendar-week-text {
  padding-top: 0.13333333rem;
  padding-bottom: 0.13333333rem;
  width: 14.26666667%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.4rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  color: #333;
}
.lotus-calendar-days {
  overflow: hidden;
  padding-bottom: 0.13333333rem;
}
.lotus-calendar-days-text {
  float: left;
  margin-bottom: 0.13333333rem;
  font-size: 0.4rem;
  width: 14.26666667%;
  margin: 0 auto;
  text-align: center;
  height: 0.8rem;
  line-height: 0.8rem;
}
.lotus-calendar-days-range {
  background: #e4f2fd;
}
.lotus-calendar-days-gray {
  color: #999;
  width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
}
.lotus-calendar-days-act {
  color: #fff;
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  border-radius: 50% 50%;
  background: #13a3ff;
}
.lotus-calendar-prev {
  color: #999;
  font-size: 0.48rem;
}
.lotus-calendar-next {
  color: #999;
  font-size: 0.48rem;
}
.lotus-calendar-month {
  flex: 1;
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding-right: 1.6rem;
}
.lotus-calendar-year {
  flex: 1;
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.lotus-calendar-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}
@keyframes calendarMove {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
