.manga-view {
  padding-bottom: 1.33333333rem;
}
.manga-view-prev {
  text-align: center;
  font-size: 0.45333333rem;
  background: #fbfbfb;
  line-height: 1.2rem;
  position: relative;
  color: #969696;
  margin-bottom: 0.10666667rem;
}
.manga-view-prev:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #dbdbdb;
  color: #dbdbdb;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.manga-view-pic {
  width: 100%;
}
.manga-view-wrap {
  position: relative;
  box-sizing: border-box;
}
.manga-view-wrap:after {
  display: none;
  content: "爱动漫^_^";
  font-size: 0.26666667rem;
  line-height: 0.42666667rem;
  width: 1.86666667rem;
  height: 0.53333333rem;
  color: #fff;
  text-align: center;
  position: absolute;
  right: 0.53333333rem;
  bottom: 0.26666667rem;
  background: #ff9a00;
  filter: blur(0upx);
}
.manga-view-top {
  position: fixed;
  right: 0.53333333rem;
  bottom: 4rem;
  z-index: 999;
  width: 0.93333333rem;
  height: 0.93333333rem;
  background: rgba(0, 0, 0, 0.5);
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.manga-view-top-pic {
  width: 0.4rem;
  height: 0.53333333rem;
  vertical-align: middle;
}
