.manga-search-module {
  background: #fbfbfb;
  padding: 0.26666667rem;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 14;
  box-sizing: border-box;
}
.manga-search-logo {
  font-size: 0.42666667rem;
  font-style: italic;
  padding-right: 0.26666667rem;
  white-space: nowrap;
}
.manga-search-logo a {
  color: #ff9a6a;
}
.manga-search-left {
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffff;
  border-radius: 0.10666667rem;
  padding: 0rem 0.26666667rem;
  margin-right: 0.26666667rem;
  width: 6.13333333rem;
}
.manga-search-form {
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.manga-search-form-btn {
  font-size: 0.4rem;
  color: #969696;
}
.manga-search-input {
  width: 6.13333333rem;
  padding: 0.13333333rem 0.26666667rem;
  font-size: 0.4rem;
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 0;
  outline: 0;
}
.manga-search-hot {
  padding: 1.81333333rem 0.53333333rem;
  overflow: hidden;
}
.manga-search-hot-title {
  font-size: 0.42666667rem;
  color: #969696;
  clear: both;
  display: block;
}
.manga-search-hot-link {
  border: 1px solid #dbdbdb;
  padding: 0.26666667rem;
  margin-top: 0.26666667rem;
  margin-right: 0.4rem;
  float: left;
  font-size: 0.37333333rem;
  color: #333;
  border-radius: 0.13333333rem;
  min-width: 1.86666667rem;
  text-align: center;
}
.manga-search-result {
  padding-top: 1.54666667rem;
}
.manga-search-result-item {
  position: relative;
  padding: 0.4rem;
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
.manga-search-result-item:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #eee;
  color: #eee;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.manga-search-result-pic {
  width: 2.8rem;
  height: 3.73333333rem;
}
.manga-search-result-intor {
  width: 6.66666667rem;
  padding-left: 0.4rem;
}
.manga-search-result-txt1 {
  display: block;
  font-size: 0.45333333rem;
  padding-bottom: 0.10666667rem;
}
.manga-search-result-txt2 {
  color: #969696;
  display: block;
  font-size: 0.34666667rem;
  padding-bottom: 0.10666667rem;
}
.manga-search-result-tag {
  color: #969696;
  display: block;
  font-size: 0.32rem;
  padding-bottom: 0.10666667rem;
}
.manga-search-result-txt3 {
  font-size: 0.34666667rem;
  color: #969696;
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
