<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
        <handlers>
		<add name="iisnode" path="imgApp.js" verb="*" modules="iisnode" />
        </handlers>
		<rewrite>
      <rules>
        <rule name="lotus">
          <match url="/*" />
          <action type="Rewrite" url="imgApp.js" />
        </rule>
      </rules>
    </rewrite>
	<directoryBrowse enabled="true" />
	<iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"/>
  </system.webServer>
</configuration>