<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
        <handlers>
            <add name="deload" path="*.js" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\iisnode\iisnode.dll" resourceType="File" preCondition="bitness64" />
            <add name="dedload" path="*.js" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\iisnode\iisnode.dll" resourceType="File" preCondition="bitness64" />
		<add name="iisnode" path="imgApp.js" verb="*" modules="iisnode" />
<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
		<rewrite>
      <rules>
        <rule name="lotus">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
	<directoryBrowse enabled="true" />
	<iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
</configuration>