.fill-form {
  font-size: 32upx;
  line-height: 32upx;
  color: #333;
}
.fill-form-item {
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  padding: 40upx 30upx;
  position: relative;
  box-sizing: border-box;
}
.fill-form-item::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #eee;
  color: #eee;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.fill-form-item-l {
  white-space: nowrap;
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  justify-content: flex-end;
}
.fill-form-item-l-red {
  margin-top: 14upx;
  margin-right: 4upx;
  color: red;
}
.fill-form-item-l text {
  display: block;
  line-height: 32upx;
}
.fill-form-item-r {
  flex: 3;
  box-sizing: border-box;
}
.fill-form-item-r uni-textarea {
  font-size: 32upx;
  line-height: 32upx;
}
.fill-form-item-img {
  width: 120upx;
  height: 120upx;
  background-size: 100% 100%;
}
.fill-form-item-img-list {
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.fill-form-item-img-wrap {
  position: relative;
  margin-right: 40upx;
  margin-bottom: 40upx;
  border: 1px dashed #eee;
  padding: 14upx;
}
.fill-form-item-delete {
  width: 40upx;
  height: 40upx;
  background: url("../../static/images/delete-icon.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: -20upx;
  top: -20upx;
}
.fill-form-item-camera {
  width: 90upx;
  height: 90upx;
  margin-bottom: 40upx;
  margin-right: 40upx;
  background: url("../../static/images/camera-icon.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.fill-form-item-camera::after {
  content: "最多可选两张";
  font-size: 24upx;
  color: red;
  position: absolute;
  right: -150upx;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}
.fill-form-item-tips {
  color: #666;
  font-size: 24upx;
  padding-bottom: 30upx;
  display: block;
}
.fill-form-item1 {
  flex-flow: column;
}
.fill-form-fix {
  height: 204upx;
}
.fill-form-fix-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 14;
  background: #fff;
}
.fill-form-fix-wrap::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #dbdbdb;
  color: #dbdbdb;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.fill-form-fix-btn {
  margin: 40upx 50upx;
}
