@import (reference) '../config.less';
@import (reference) '../set1Px.less';
@lotus: manga-view;
.@{lotus}{
	&-prev{
		text-align: center;
		font-size: 34upx;
		background: #fbfbfb;
		line-height: 90upx;
		position: relative;
		color:#969696;
		margin-bottom:8upx;
		&:before{
			.setBottomLine(#dbdbdb);
		}
	}
&-pic{
	width:750upx;
}
&-wrap{
	position: relative;
	&:after{
		display: none;
		content: "爱动漫^_^";
		font-size: 20upx;
		line-height: 32upx;
		width:140upx;
		height:40upx;
		color:#fff;
		text-align: center;
		position: absolute;
		right:40upx;
		bottom:20upx;
		background: rgba(255,154,0,1);
		filter: blur(0upx);
	}
}
	
}
uni-image{
	margin:0 auto;
	display: block;
}