.form-detail {
  padding-left: 40upx;
  padding-right: 40upx;
}
.form-detail-item {
  font-size: 32upx;
  color: #666;
  padding-top: 30upx;
  padding-bottom: 30upx;
  position: relative;
}
.form-detail-item::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #eee;
  color: #eee;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.form-detail-img-list {
  /*display: -webkit-box;
  display: -webkit-flex;*/
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.form-detail-img-list image {
  display: block;
  flex: 1;
  width: 50%;
  height: 200upx;
  margin: 20upx 30upx;
}
.form-detail-btn {
  font-size: 30upx;
  color: #fff;
  text-align: center;
  border-radius: 10upx;
  display: block;
  line-height: 92upx;
}
