@import (reference) '../../static/style/config.less';
@import (reference) '../../static/style/set1Px.less';
@lotus: form-detail;
.@{lotus} {
 padding-left:40upx;
 padding-right:40upx;
 &-item{
	 font-size:32upx;
	 color:#666;
	 padding-top:30upx;
	 padding-bottom:30upx;
	 position: relative;
	 &::before{
		 .setBottomLine(#eee);
	 }
 }
 
 
 
 
}